.env
**/.env
.env.local
**/.env.local

__pycache__/
**/__pycache__/
*.py[cod]

.venv/
venv/
**/.venv/
**/venv/

celerybeat-schedule
**/celerybeat-schedule

.next/
**/.next/
node_modules/
**/node_modules/
*.tsbuildinfo

*.log
logs/
**/logs/

.serena/
